@import './../../styles.scss';

.player {
    width: 300px;
    @include dFlex($jc: start);
    background-color: rgba(128, 128, 128, 0.9);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 4px 4px 8px rgb(100, 97, 97);

    >span {
        font-size: 18px;
        margin-left: 16px;
        color: white;
    }

    >img{
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.player-active {
    background-color: rgba(133, 50, 169, 0.9);
    box-shadow: 4px 4px 8px rgb(108, 39, 138) ;

    >span{
        font-size: 24px;
    }

}