@for (player of game.players; track player; let i = $index) {
    <app-player [playerName]="player" [playerActive]="i == game.currentPlayer" [ngStyle]="{'top.px': 70 + (i * 80)}" class="player-position"></app-player>
}

<div class="gamefield">
    <div class="card-stack">
        <!-- stack of new cards -->
        @for(card of [0, 1, 2, 3]; track card; let i = $index){
            <img [ngStyle]="{'right.px': i*5}" src="/assets/img/card_cover.png" alt="card">
        }
        <img (click)="takeCard()" class="top-card" style="right: 20px;" src="/assets/img/card_cover.png" alt="card">

        <!-- Stack for played cards-->
        @for (playedCard of game.playedCards; track $index) {
            <img class="played-card" src="/assets/img/cards/{{ playedCard }}.png" alt="card">
        }

        <!-- current card flying -->
        @if(pickCardAnimation){
            <img class="pick-card" style="right: 20px;" src="/assets/img/cards/{{currentCard}}.png" alt="card">
        }
    </div>
</div>

<app-game-info [infocard]="currentCard" class="pin-bottom"></app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
  </button>

